
/****** Research and filter section **********************************/

         
.search_filtre h1 {
    margin-top: 70px;    
    margin-bottom: -5px;
    }
    
    
            /** research zone **/
    .formulaire {
        margin-top: 35px;
        display: flex;
        height: 52px;
    }
    
    #iconGPS {
        background-color: #F2F2F2;
        width: 50px;
        border-radius: 15px 0px 0px 15px;
        font-size: 20px;
        color: black;
        width: 50px;
        padding-left: 20px;
        padding-top: 12px;
        margin-right: -20px;
    }
    
    
    .text_research {
        border: none;
        text-align: center;
        width:185px;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #F2F2F2;
        border-right: none;
    }
    
    
    .button_research_text {
        background-color: #0065FC;
        border-radius: 0px 15px 15px 0px;
        color: white;
        width: 125px;
        font-size: 18px;
        font-weight: bold;
        border: none;
    }
    
    
    .button_research_icon {
        background-color: #0065FC;
        border-radius: 0px 15px 15px 0px;
        color: white;
        width: 132px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        display: none;
    }
    
    
    
    
    
    
            /** filter zone **/
    
    .div_filter {
    display: flex;
    gap: 15px;
    padding-top: 15px;
    height: 50px;
    width: 758px;
    }
    
    #filter_title {
        font-size: 18px;
        padding-top: 8px;
    }
    
    .buttons_filter {
        display: flex;
        margin-top: 16px;
        gap: 15px;
    }
    
    .button {
        border: solid 2px rgba(217, 217, 217, 1);
        border-radius: 25px;
        background-color: white;
        padding: 12px 19px 30px 19px;
        font-size: 17px;
        font-weight: bold;
    }
    
    .button:hover {
    background-color: #DEEBFF;
    }
    
    
    .button i {
    padding-right: 8px;
    }
    
    
    
    
    
     /** Infobar**/
    
    #infobar {
        margin-top: 30px;
        display: flex;
        gap: 10px;
    }
    
    #infobar i {
        padding-top: 16px;
    
    }