/****** General **************************************************************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}



body {
    max-width: 1340px;
    min-width: 320px;
    padding: 0 50px;
    margin: auto;
    overflow-x: hidden;
    /** If we consider the padding 50px on the right and the left, 
so we have to use 1340px for the max-width of the 
body (50px + 50px + 1340px= 1440px totaly for the max-width) **/
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title-accom-and-pop {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Header *****/
header {

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-header {
    display: flex;
    gap: 4em;
}

.link-nav {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.link-nav:hover {
    border-top: solid 1px var(--main-color);
    color: var(--main-color);
}

.logo {
    width: 61.09px;
    height: 19px;
    position: relative;
    top: 15px;
}



/*** Research and filter section ***/

.search-filter {
    height: 310px;
}


.main-title {
    margin-top: 70px;
    margin-bottom: -5px;
}


/** research zone **/
.search-form {
    margin-top: 35px;
    display: flex;
    height: 52px;
}

#iconGPS {
    background-color: var(--main-bg-color);
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
    color: black;
    width: 50px;
    padding-left: 20px;
    padding-top: 12px;
    margin-right: -20px;
}


.text-research {
    border: none;
    text-align: center;
    width: 185px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--main-bg-color);
    border-right: none;
}


.button-research-text {
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    color: white;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}


.button-research-icon {
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    color: white;
    width: 132px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    display: none;
}


/** filter zone **/

.div-filter {
    display: flex;
    gap: 15px;
    padding-top: 15px;
    height: 50px;
    width: 758px;
}

#filter-title {
    font-size: 18px;
    padding-top: 12px;

}

.buttons-filter {
    display: flex;
    margin-top: 16px;
    gap: 15px;
}

.button {
    border: solid 2px rgba(217, 217, 217, 1);
    border-radius: 25px;
    background-color: white;
    padding: 12px 19px 10px 19px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 30px;
}

.button:hover {
    background-color: var(--filter-bg-color);
}


.button i {
    padding-right: 8px;
}

/** Infobar**/

.infobar {
    margin-top: 45px;
}

.infobar i {
    color: var(--main-color);
    border: solid var(--main-bg-color) 2px;
    border-radius: 50%;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-top: 2px;
    position: relative;
    bottom: 40px;
    right: 4px;
}

.infobar p {
    margin-left: 35px;
}


/****** Accommodation And Popular *****/

.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation,
.popular {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Accommodation ******/

.accommodation {
    width: 65%;
    background-color: var(--main-bg-color);
    height: 620px;
}

/** I choosed to set two "div container" to always display 3 cards on a line, whatever the width of the screen in desktop version. The display
would have beeen different with only one container and the propertys "display: flex" and "flex-wrap" when the widht of the window is small (we would
have 3 line of 2 cards)
I also choose width in "%" and not in "px" to have same proportions of cards size as what we can see in figma modele, whatever the width of
the window **/

.container-flex-accommodation {
    display: flex;
    gap: 10%;
    margin-right: 1%;
}

/** The initial sizes of images in cards specify differents width in the displau for each card. So i set up a width of 25% for
the "a" element to apply a same with for all cards   **/

.link-accommodation {
    width: 25%;
    margin-top: 30px;
}

/** To display cards with same proportion as the model figma, i set up a higher widh than 100% (120%). Like this, the width of the cards is
same than the one we can see in the figma model. That's why the element inspector shows a width for "a" smaller than "article width"   **/

.accommodation .card {
    width: 120%;
    max-height: 200px;
}

.accommodation img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}

.accommodation .card-content {
    width: 100%;
    padding-left: 3%;
}

.accommodation .card-txt {
    margin-top: -10px;
}

.accommodation .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.accommodation p {
    margin-top: -10px;
}

.accommodation .card-rating {
    margin-top: -10px;
}

.accommodation .link-afficher-plus {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1%;
}


/****** Populaires *****/
.popular {
    width: 32%;
    background-color: var(--main-bg-color);
}

.div-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/**** Section activities****/

.activities .location-activities {
    margin-top: 60px;
    padding-left: 2.5%;
}

.results-activities {
    display: flex;
    gap: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
}

.link-activities {
    width: 25%;
}

.activities .card {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.activities img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 380px;
}

.activities .card-title {
    padding: 0px 0px 0px 25px;
}

/*** Footer ***/

footer {
    background-color: var(--main-bg-color);
    margin-top: 60px;
    min-height: 180px;
    display: flex;
    gap: 19%;
    padding: 1px 2% 1px 2%;
}

.titles-in-footer {
    margin-bottom: 0;
}

.ul-div-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-div-footer li {
    padding-top: 20px;
}

#div-footer3 {
    padding-left: 35px;
}















/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries *********************************************************************************************************************/

/* Medium devices (tablets, less/equal than 1024px) ************************/
@media (max-width: 1024px) {



    /** research and filter section ********/

    .search-filter {
        display: flex;
        flex-direction: column;
    }

    /** research zone **/

    .search-form {
        margin-top: 10px;
        min-height: 49px;
    }

    /** filter zone **/

    .div-filter {
        flex-direction: column;
    }

    #filter-title {
        padding-top: 0px;
    }

    .buttons-filter {
        margin-top: -10px;
    }

    .button {
        padding-bottom: 10px;
    }

    /**infobar**/

    .infobar {
        margin-top: 75px;
    }


    /** accommodation-and-popular section ********/

    .accommodation-and-popular {
        margin-top: 10px;
        flex-direction: column;
    }

    /**accommodation**/

    .accommodation {
        width: 100%;
        margin-top: 90px;
    }

    /**popular**/

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .popular-cards a {
        width: 50%;
    }

    .popular-cards .card-title {
        font-size: 16px;
    }

    .popular-cards .card-subtitle {
        font-size: 15px;
    }

    /**activities**/

    #activitie1 h3,
    #activitie2 h3 {
        padding-top: 5px;
    }

    .activities a {
        height: 290px;
    }

    .activities img {
        max-height: 220px;
        height: 100%;
    }

    /** footer ********/

    footer {
        gap: 19%;
        padding-right: 350px;
    }

    #div-footer1 {
        min-width: 200px;
    }

    #div-footer2 {
        min-width: 180px;
    }

    #div-footer3 {
        min-width: 175px;
    }





















    /* Small devices (phones, less than 768px) ***************************/
    @media (max-width: 768px) {


        /***** main container****/
        body {
            padding: 0;
        }

        /***** header****/

        header {
            flex-direction: column;
        }

        .logo {
            margin-left: auto;
            margin-right: auto;
        }

        .nav-header {
            margin-top: 40Px;
            justify-content: center;
            gap: 2px;
        }

        .link-nav {
            padding: 0px 20% 0px 20%;
            border-bottom: solid 1px #F2F2F2;
        }

        .link-nav:hover {
            border-bottom: solid 1px var(--main-color);
            border-top: white solid 1px;
        }


        /** Search and filter section ***********/

        .main-title {
            width: 70%;
            min-width: 250px;
            margin-left: 5%;
            margin-top: 35px;
        }

        #p-under-h1 {
            margin-left: 5%;
            margin-bottom: 30px;
        }

        /** Research zone **/

        .search-form {
            width: 90%;
            margin: auto;
        }

        #iconGPS {
            padding-top: 15px;
            padding-right: 15px;
            height: 37px;
        }

        .text-research {
            margin-right: -15px;
            width: 105%;
            margin: auto;
            height: 48px;
        }

        .button-research-icon {

            margin-left: -8px;
            padding-left: 100px;
            padding-right: 20px;
        }

        /** hidding research button containing text **/
        .button-research-text {
            display: none;
        }

        /** displaying research button with icon**/
        .button-research-icon {
            display: flex;
            width: 50px;
            border-radius: 15px 15px 15px 15px;
            padding-top: 16px;
            padding-left: 17px;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
        }

        .button-research-icon i {
            color: white;
        }

        /**Filter zone***/

        .div-filter {
            width: 100%;
        }

        #filter-title {
            margin-left: 5%;
        }

        .buttons-filter {
            flex-wrap: wrap;
            width: 95%;
            margin: auto;
        }

        .button {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 45%;
            margin: auto;
            padding-right: 0px;
            padding-left: 0px;
        }

        /**info bar**/

        .infobar {
            margin-left: 5%;
            padding-right: 25px;
            position: relative;
            top: 30%;
        }



        /** accommodation-and-popular section ********/

        .accommodation-and-popular {
            margin-top: 180px;
            flex-direction: column-reverse;
        }

        .accommodation,
        .popular {
            border-radius: 0px;
        }

        /**herbergement zone**/

        .accommodation {
            background-color: white;
            margin-top: -50px;
            height: auto;
        }

        .section-title-accom-and-pop {
            margin-bottom: -15px;
            padding-left: 2%;
        }


        .container-flex-accommodation {
            flex-direction: column;
            margin-top: 5px;
            margin-left: 2.5%;
        }

        .accommodation a {
            width: 80%;
            height: 280px;
        }

        .accommodation img {
            max-height: 200px;
            height: 100%;
            min-height: 200px;
        }

        .accommodation .card {

            min-height: 280px;
        }

        .accommodation .card-txt {
            height: auto;
        }

        .link-afficher-plus {
            padding-left: 2%;
        }

        /**populaire zone**/

        .popular {
            margin-bottom: 60px;
            border-radius: 0px;
            background-color: var(--main-bg-color);
        }

        .popular-cards {
            flex-direction: column;
            padding-bottom: 25px;
        }

        .popular-cards a {
            width: 95%;
            margin: auto;
            height: 230px;
        }

        .popular img {
            max-height: 200px;
            height: 300px;
            width: 30%;
            min-width: 150px;
        }

        .popular .card-title {
            white-space: revert;
        }

        /**Activities**/

        .activities .location-activities {
            padding-left: 7%;
            margin-top: 40px;
        }

        .results-activities {
            flex-direction: column;
            gap: 25px;
            margin-left: 6.5%;
        }

        .activities a {
            width: 93%;
            height: 270px;
        }

        .activities .card {
            min-height: 260px;
            max-height: 200px;
        }

        .activities img {
            max-height: 200px;
            height: 100%;
        }

        /**Footer**/

        footer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 9%;
            padding-bottom: 30px;
        }

        #div-footer3 {
            padding-left: revert;
        }


    }









}